* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #4fa3a5;
  --secondary: #fa5396;
  --bg-section: #f8f4f3;
}

.cus-margin-auto {
  margin: 0 auto;
}

.cus-padding-0 {
  padding: 0;
}

.cus-margin-0 {
  margin: 0;
}

.cus-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cus-flex-center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cus-text-white {
  color: #fff;
}
.cus-border {
  border: 1px solid var(--primary);
}
.margin-top-100 {
  margin-top: 100px;
}

.margin-bot-40 {
  margin-bottom: 40px;
}

.margin-top-40 {
  margin-top: 40px;
}

.section-tittle {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary);
  text-transform: uppercase;
}

.section-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  width: 80%;
}

/* Navigation */
nav {
  border-bottom: 1px solid #ccc;
}
.nav-header ul:first-child li,
.nav-header ul:last-child li {
  margin: 0 1rem;
}

.nav-header ul:first-child li a {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.nav-header ul:first-child li a:hover {
  color: var(--primary);
}

.nav-cart,
.nav-search,
.nav-user {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
}

.nav-cart {
  position: relative;
}

.nav-cart span {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: var(--secondary);
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.nav-cart:hover,
.nav-search:hover,
.nav-user:hover {
  transition: linear 0.3s;
  border: 1px solid var(--primary);
  background-color: #d5eaeb;
}

/* Slider */

.banner-mobi {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: contain;
}
.slider-item-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #333;
  width: 550px;
}

.slider-item-content p:first-child {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.slider-item-content p:nth-child(2) {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.slider-item-content button {
  font-size: 18px;
  color: var(--primary);
  background-color: #fff;
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 8px 32px;
  transition: linear 0.3s;
}

.slider-item-content button:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--primary);
}
@media screen and (min-width: 768px) {
  .banner-mobi {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .slider-item-content,
  .banner-pc {
    display: none;
  }

  .policy-wrap-item span{
    width: 50%;
  }

  .section-description{
    width: 75% !important;
  }

}
@media screen and (max-width: 992px) {
  .slider-item-content {
    width: 280px;
  }
  .slider-item-content p:first-child {
    font-size: 16px;
  }
  .slider-item-content p:nth-child(2) {
    font-size: 20px;
  }
  .slider-item-content button {
    font-size: 14px;
    padding: 8px 24px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .slider-item-content {
    width: 350px;
  }
}
/* about */
.img-about {
  width: 100%;
  height: 100%;
}

.img-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* max-height: 100%; */
}

.about-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-icon img {
  display: block;
  margin: 0 auto;
}

.about-tittle {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.about-content {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.cus-border {
  border: 1px solid var(--primary);
}

/* featured product */
#featured-product {
  background-color: var(--bg-section);
  padding: 20px 0;
}

.wrap-featured-product-cart {
  position: relative;
  padding: 16px;
  background-color: #fff;
  border: 1px solid var(--primary);
  border-radius: 8px;
}
.wrap-featured-product-cart:hover {
  cursor: pointer;
}
.product-img {
  width: 100%;
  overflow: hidden;
}

.product-img img {
  width: 100%;
}
.product-img:hover img {
  transform: scale(1.2) rotate(10deg);
  transition: ease-in 0.5s;
}

.cus-margin-top-bot-8px {
  margin: 8px 0;
}
.wrap-featured-product-cart .add-to-cart {
  width: 100%;
  padding: 8px 0;
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
  border-radius: 8px;
}

.fa-basket-shopping {
  margin-left: 4px;
}

.wrap-featured-product-cart .add-to-cart:hover {
  background-color: #fff;
  color: var(--primary);
}

.product-name {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.product-origin,
.product-type,
.product-weight {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.old-price {
  font-size: 20px;
  text-decoration: line-through;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}

.current-price {
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary);
  margin-left: 16px;
}

.discount {
  position: absolute;
  top: -16px;
  right: -16px;
  padding: 4px 16px;
  font-size: 16px;
  color: #fff;
  background-color: var(--secondary);
  border-radius: 4px;
  z-index: 1;
}

.discount::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -3px;
  left: 8px;
  transform: rotate(45deg);
  background-color: var(--secondary);
}

/* Section why choose us */

.policy-wrap-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.policy-img-item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.policy-img-item img {
  display: block;
  width: 100%;
  margin: auto;
}
.policy-wrap-item h3 {
  margin: auto;
  text-transform: uppercase;
  font-size: 24px;
}

.policy-wrap-item span {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.policy-wrap-item-center {
  width: 100%;
  animation: mymove 2s infinite linear;
}

.policy-wrap-item-center img {
  max-width: 100%;
  display: block;
  margin: auto;
}
